.img{
  width:350px;
  height:300px;
}

.text-content{
  text-decoration: none;
  color:black;
}
.wrapper{
  display:flex;
  margin:5%;
}
.textWrapper{
  display: flex;
  flex-direction: column;
  margin:5%;
}